@page "/repviewer/{repname}"
@page "/repviewer/{repname}/{param}"
@inject Gtools gtools
<div>
    repname:@repname
    param:@param
</div>

<div>
    @if (_showstock)
    {<GInputText T="Stock" OnValueChanged="(arg) => { _stockcode = arg.ToString(); }"></GInputText>}
    @if (_showfromitem)
    {<GInputText T="Item" CFilter="I => I.StockCode.Equals(_stockcode)" codelength="5"></GInputText>}
    @if (_showtoitem)
    {<GInputText T="Item" buttonText="إلى صنف" CFilter="I => I.StockCode.Equals(_stockcode)" codelength="5"></GInputText>}
    @if (_showarname)
    {<GInputText T="Arname" codelength="5"></GInputText>}
    @if (_showtklf)
    {<TklfSubComponent formarg="5"></TklfSubComponent>}

</div>
<div><button class="btn btn-primary btn-sm col-sm-1 " @onclick="OnViewReportAsync">عرض التقرير</button></div>

<div style="overflow: scroll; width: auto; height: 300px; border: 1px solid black; font-family: Arial, sans-serif; ">

    <div class='row' style="margin: 4px 2px 2px 2px; ">
        <div class='col-2'><img src='images/nrclogo.jpg' alt='https://www.nrc.sci.eg/' width='50' height='75'>  </div>
        <div class='col-7 text-center'> <h3 style="font-weight: bold; border-bottom:2px solid;">  @_reptitle </h3>   </div>
        <div class='col'>
            <h6 style="font-weight: bold;text-align:center;border-bottom:2px solid;">  المركز القومى للبحـوث</h6>
            <h6 style="font-weight: bold; text-align: center; border-bottom: 2px solid; ">  شبكة الحاسب الألى بقطاع الشئون الفنية</h6>
            <h6 style="font-weight: bold; text-align: center; border-bottom: 2px solid; ">  إدارة المخازن</h6>
        </div>
    </div>
    
        <table border="1" cellspacing="0" cellpadding="5" style="width: 100%; border-collapse: collapse; font-family: Arial, sans-serif;">
            <thead>
                <tr>

                    <th width="10%">المخزن</th>
                    <th>كود الصنف</th>
                    <th>إسم الصنف</th>
                    <th>السعر</th>
                </tr>
            </thead>
            <tbody>

                <Virtualize Items="@_repdata" Context="item">
                    <tr>
                        <td>@item.StockCode</td>
                        <td>@item.ItemCode</td>
                        <td>@item.EngName</td>
                        <td>@item.OpenPrice</td>
                    </tr>
                </Virtualize>


            </tbody>
        </table>
  

    <!--<RadzenDataGrid CssClass="customdatagrid" AllowFiltering="false" AllowVirtualization="true" AllowColumnResize="false" AllowAlternatingRows="false" FilterMode="FilterMode.Advanced"
                    AllowGrouping="false" AllowSorting="false" PageSize="30" AllowPaging="true" PagerHorizontalAlign="HorizontalAlign.Left"
                    Data="@_repdata" TItem="Item" ColumnWidth="100px" LogicalFilterOperator="LogicalFilterOperator.Or" ShowPagingSummary="true"
                    IsLoading=@isLoading>
        <Columns>
            <RadzenDataGridColumn TItem="Item" Property="@nameof(Item.StockCode)" Filterable="false" Title="المخزن" Frozen="true" Width="100px" TextAlign="TextAlign.Center" />

            <RadzenDataGridColumn TItem="Item" Property="@nameof(Item.ItemCode)" Filterable="false" Title="كود الصنف" Frozen="true" Width="100px" TextAlign="TextAlign.Center" />
            <RadzenDataGridColumn TItem="Item" Property="@nameof(Item.EngName)" Filterable="false" Title="إسم الصنف" Frozen="true" Width="300px" TextAlign="TextAlign.Center" />
            <RadzenDataGridColumn TItem="Item" Property="@nameof(Item.OpenPrice)" Filterable="false" Title="السعر" Frozen="true" Width="100px" TextAlign="TextAlign.Center" />-->
    @*<RadzenDataGridColumn Title="Photo" Frozen="true" Sortable="false" Filterable="false" Width="80px" TextAlign="TextAlign.Center">
            <Template Context="data">
                <RadzenImage Path="@data.Photo" class="rz-gravatar" AlternateText="@(data.FirstName + " " + data.LastName)" />
            </Template>
        </RadzenDataGridColumn>
        <RadzenDataGridColumn Property="@nameof(Employee.FirstName)" Title="First Name" Frozen="true" Width="160px" />
        <RadzenDataGridColumn Property="@nameof(Employee.LastName)" Title="Last Name" Width="160px" />
        <RadzenDataGridColumn Property="@nameof(Employee.Title)" Title="Job Title" Width="200px" />
        <RadzenDataGridColumn Property="@nameof(Employee.TitleOfCourtesy)" Title="Title" Width="120px" />
        <RadzenDataGridColumn Property="OrderID" Title="OrderID" Width="160px" />
        <RadzenDataGridColumn Property="ProductID" Title="ProductID" Width="160px" />
        <RadzenDataGridColumn Property="@nameof(OrderDetail.UnitPrice)" Title="UnitPrice" Width="160px" FormatString="{0:C}" />
        <RadzenDataGridColumn Property="@nameof(OrderDetail.Quantity)" Title="Quantity" Width="160px" />
        <RadzenDataGridColumn Property="@nameof(OrderDetail.Discount)" Title="Discount" Width="160px" FormatString="{0:P}" />
        <RadzenDataGridColumn Property="CustomerID" Title="CustomerID" Width="160px" />
        <RadzenDataGridColumn Property="@nameof(Order.OrderDate)" Title="OrderDate" Width="160px" FormatString="{0:d}" />*@
    <!--</Columns>
    </RadzenDataGrid>-->
    @*


        <div class='row' style="margin: 4px 2px 2px 2px; ">


            <table border="1" cellspacing="0" cellpadding="5" style="width: 100%; border-collapse: collapse; font-family: Arial, sans-serif;">
                <thead>
                    <tr>

                        <th width="10%">المخزن</th>
                        <th>كود الصنف</th>
                        <th>إسم الصنف</th>
                        <th>السعر</th>
                    </tr>
                </thead>
                <tbody>
                    @((MarkupString)HtmlRepContent)
                </tbody>
            </table>
        </div> *@

    @*@HtmlRepContent*@

</div>



@code{
    [Parameter] public string repname { get; set; }
    [Parameter] public string param { get; set; }

    private string _reptitle;
    private MarkupString HtmlRepContent;

    private string _stockcode, _fromitem, _toitem, _arcode;
    private bool _showstock, _showfromitem, _showtoitem, _showarname, _showtklf;




    bool isLoading = false;

    async Task ShowLoading()
    {
        isLoading = true;

        await Task.Yield();

        isLoading = false;
    }



    protected override void OnParametersSet()
    {
        OnShowHideInputs();
        base.OnParametersSet();
    }

    private void OnShowHideInputs()
    {
        switch (repname.ToLower())
        {
            case "itembal":
                _showstock = _showfromitem = _showtoitem = true;
                _reptitle = "الأرصدة الحالية للأصناف";

                break;
            default:
                break;
        }
    }

    public List<Item> _repdata = new();
   // IQueryable<Item> _repdata;

    public async Task OnViewReportAsync()
    {
        switch (repname.ToLower())
        {
            case "itembal":
                _repdata = await gtools.GetDataFromSqlAsync<Item>("select * from items") ;

                HtmlRepContent = GenerateTableRows(_repdata);

                break;
            default:
                break;
        }
    }


    private MarkupString GenerateTableRows(IEnumerable<Item> data)
    {

        var builder = new System.Text.StringBuilder();
        string repHeader;
        repHeader = @"<div class='row' style='margin: 4px 2px 2px 2px; '>
            <div class='col-2'><img src = 'images/nrclogo.jpg' alt='https://www.nrc.sci.eg/' width='50' height='75'>  </div>
            <div class='col-7 text-center'> <h3 style = 'font-weight: bold; border-bottom:2px solid;' > " + _reptitle + @" </ h3 >   </div>
            <div class='col'>
                <h6 style = 'font-weight: bold;text-align:center;border-bottom:2px solid;' > المركز القومى للبحـوث</h6>
                <h6 style = 'font-weight: bold; text-align: center; border-bottom: 2px solid; ' > شبكة الحاسب الألى بقطاع الشئون الفنية</h6>
                <h6 style = 'font-weight: bold; text-align: center; border-bottom: 2px solid; ' > إدارة المخازن</h6>
            </div>
        </div>";


        builder.Append(repHeader);
        builder.Append(@"<table border='1' cellspacing='0' cellpadding='5' style='width: 100 %; border - collapse: collapse; font - family: Arial, sans - serif; '>
                <thead>
                    <tr>    <th width='10%'>المخزن</th> <th>كود الصنف</th> <th>إسم الصنف</th>  <th>السعر</th> </tr>
                </thead>
                <tbody>");





        foreach (var row in data)
        {
            builder.Append(@"<tr><td>" + row.StockCode + "</td><td>" + row.ItemCode + "</td><td>" + row.EngName + "</td><td>" + row.OpenPrice + "</td></tr>");
        }

        builder.Append(@"</tbody> </table> </div></div>");
        return (MarkupString) builder.ToString();
    }

}

